@import "tailwindcss";
@font-face {
  font-family: "Grand mighty";
  src: url("~/assets/fonts/gm-regular.woff");
}
@theme {
  --font-grand: "Grand mighty";
}
@custom-variant hoverable {
  @media (hover: hover) {
    @slot;
  }
}
@custom-variant unhoverable {
  @media (hover: none) {
    @slot;
  }
}
@custom-variant 600 {
  @media (width >= 37.5rem) {
    @slot;
  }
}
@utility hide-scrollbar {
  --ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body,
#__nuxt,
main {
  @apply hide-scrollbar min-h-dvh min-w-full bg-amber-300;
}
#__nuxt {
  @apply isolate;
}
body:has(main.page-enter-active),
body:has(main.page-leave-active) {
  @apply overflow-hidden;
}

.page-leave-active {
  z-index: 0;
  position: relative;
  transition:
    all 0.6s cubic-bezier(0.33, 1, 0.68, 1),
    translate 0.45s cubic-bezier(0.33, 1, 0.68, 1) 0.15s;
}
.page-enter-active {
  z-index: 1;
  transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
  position: absolute;
  top: var(--scroll-y-slide-up);
}
.page-enter-from,
.page-leave-to {
  filter: brightness(0.5);
}
.page-enter-from {
  @apply translate-y-full;
}
.page-enter-to {
  @apply translate-y-0;
}
.page-leave-to {
  @apply -translate-y-[6.25rem];
}
